@import url("https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css");

body {
    font-family: "Computer Modern Serif", serif;
    font-size: 150%;
    bottom: 25px;
}

a {
    text-decoration: none;
}

code {
    font-family: "Computer Modern Typewriter", monospace;
}

@media screen and (min-width: 900px) {
    body {
        padding-left: 30%;
        padding-right: 30%;
        padding-top: 5%;
    }

    .title {
        font-size: 150%;
    }    
}

@media screen and (max-width: 900px) {
    .title {
        font-size: 100%;
    }

    body {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        font-size: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: #1a1b1d;
    }

    a {
        color: rgb(103, 154, 255);
    }

    .muted {
        color: rgb(108, 108, 108);
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: black;
        background-color: white;
    }

    a {
        color: rgb(74, 103, 162);
    }

    .muted {
        color: gainsboro;
    }
}
